Src/.vs/
Src/Vikcher.PatentSearch.sln.DotSettings.user
Src/Vikcher.PatentSearch.GraphService/bin/
Src/Vikcher.PatentSearch.GraphService/obj/
Src/Vikcher.PatentSearch.Domain/bin/
Src/Vikcher.PatentSearch.Domain/obj/
Src/Vikcher.PatentSearch.FunctionalTests/bin/
Src/Vikcher.PatentSearch.FunctionalTests/obj/
Src/Vikcher.PatentSearch.Infrastructure/bin/
Src/Vikcher.PatentSearch.Infrastructure/obj/
Src/Vikcher.PatentSearch.IntegrationTests/bin/
Src/Vikcher.PatentSearch.IntegrationTests/obj/
Src/Vikcher.PatentSearch.Service.FunctionalTests/bin/
Src/Vikcher.PatentSearch.Service.FunctionalTests/obj/
Src/Vikcher.PatentSearch.Service/bin/
Src/Vikcher.PatentSearch.Service/obj/
Src/Vikcher.PatentSearch.UnitTests/bin/
Src/Vikcher.PatentSearch.UnitTests/obj/
Src/Vikcher.PatentSearch.GraphService.IntegrationTests/bin/
Src/Vikcher.PatentSearch.GraphService.IntegrationTests/obj
Src/Vikcher.PatentSearch.GraphService.UnitTests/bin/
Src/Vikcher.PatentSearch.Service.IntegrationTests/bin/
Src/Vikcher.PatentSearch.Service.IntegrationTests/obj/
Src/Vikcher.PatentSearch.Service.UnitTests/bin/
Src/Vikcher.PatentSearch.Service.UnitTests/obj/
Src/Vikcher.PatentSearch.GraphService.UnitTests/obj/**/obj/**
**/bin/**
Src/.idea/
