<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsii="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <!--<add assembly="NLog.Web" />-->
    </extensions>
    <variable name="appName" value="Patents.ArtRepoCloud.GraphService" />
    <targets>
      <!--log path MUST start with logs/{app name}/ for AKS file share-->
      <default-wrapper xsii:type="AsyncWrapper" queueLimit="100000" overflowAction="Block" />
      <target name="debugfile" xsii:type="File" fileName="logs/${var:appName}/${var:appName}.debug.txt" layout="${date}|${machinename}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString,StackTrace}" archiveFileName="logs/${var:appName}/archives/${var:appName}.debug.{#}.txt" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="MMddyyyy" maxArchiveFiles="10" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="true" />
      <target name="infofile" xsii:type="File" fileName="logs/${var:appName}/${var:appName}.info.txt" layout="${date}|${machinename}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString,StackTrace}" archiveFileName="logs/${var:appName}/archives/${var:appName}.info.{#}.txt" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="MMddyyyy" maxArchiveFiles="10" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="true" />
      <target name="warnfile" xsii:type="File" fileName="logs/${var:appName}/${var:appName}.warn.txt" layout="${date}|${machinename}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString,StackTrace}" archiveFileName="logs/${var:appName}/archives/${var:appName}.warn.{#}.txt" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="MMddyyyy" maxArchiveFiles="10" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="true" />
      <target name="errorfile" xsii:type="File" fileName="logs/${var:appName}/${var:appName}.error.txt" layout="${date}|${machinename}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString,StackTrace}" archiveFileName="logs/${var:appName}/archives/${var:appName}.error.{#}.txt" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="MMddyyyy" maxArchiveFiles="10" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="true" />
      <target name="fatalfile" xsii:type="File" fileName="logs/${var:appName}/${var:appName}.fatal.txt" layout="${date}|${machinename}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString,StackTrace}" archiveFileName="logs/${var:appName}/archives/${var:appName}.fatal.{#}.txt" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="MMddyyyy" maxArchiveFiles="10" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="infofile" />
      <logger name="*" minLevel="Warn" writeTo="warnfile" />
      <logger name="*" minLevel="Error" writeTo="errorfile" />
      <logger name="*" minLevel="Debug" writeTo="debugfile" >
        <filters>
          <when condition="(level > LogLevel.Debug)" action="Ignore" />
          <when condition="equals('${environment:variable=ASPNETCORE_ENVIRONMENT}','Production')" action="Ignore" />
        </filters>
      </logger>
      <logger name="*" minLevel="Fatal" writeTo="fatalfile" />
    </rules>
  </nlog>
</configuration>